<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Bliss</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/User/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/Content/User/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Content/User/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="~/Content/User/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/User/css/bootstrap-datepicker.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>

    <!-- header -->
    <header class="header-area">
        <div class="container">
            <div class="row d_flex">
                <div class=" col-md-3 col-sm-3">
                    <div class="logo">
                        @*<a href="index.html">MACFAST</a>*@
                        <img src="~/Content/User/images/mlic_logo (1).png" />
                    </div>
                </div>
                <div class="col-md-9 col-sm-9">
                    <div class="navbar-area"> 
                        <nav class="site-navbar">
                            <ul>
                                <li><a class="active" href="@Url.Action("Index","Home")" style="font-family:serif;font-size:small;">Home</a></li>


                                @*<li><a href="@Url.Action("About","Home")" style="font-family:serif;font-size:large;">About</a></li>*@
                                @if (Session["ID"] != null)
                                {
                                    <li class="nav-item dropdown">
                                        <a href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:serif;font-size:small;">
                                            About
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="aboutDropdown">

                                            <a class="dropdown-item" href="@Url.Action("About", "Home")">KNOW MLIC</a>
                                            <a class="dropdown-item" href="@Url.Action("Guidlines", "Home")">LIBRARY GUIDLINES</a>
                                            <a class="dropdown-item" href="@Url.Action("Commitee", "Home")">LIBRARY COMMITEE</a>
                                            <a class="dropdown-item" href="@Url.Action("Contact", "Home")">LIBRARY COLLECTION</a>
                                            <a class="dropdown-item" href="@Url.Action("Service", "Home")">LIBRARY SERVICE</a>
                                            <a class="dropdown-item" href="@Url.Action("Contact", "Home")">LIBRARY STAFF</a>


                                        </div>
                                    </li>
                                }
                                    <li class="nav-item dropdown">
                                        <a href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:serif;font-size:small;">
                                            EResources
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                                            <a class="dropdown-item" href="https://www.proquest.com/business/index?accountid=143324">ProQuest</a>
                                            <a class="dropdown-item" href="https://search.ebscohost.com/">EBSCO</a>
                                            @*<a class="dropdown-item" href="@Url.Action("Commitee","Home")"></a>
                    <a class="dropdown-item" href="@Url.Action("Contact","Home")">LIBRARY COLLECTION</a>
                    <a class="dropdown-item" href="@Url.Action("Service","Home")">LIBRARY SERVICE</a>
                    <a class="dropdown-item" href="@Url.Action("Contact","Home")">LIBRARY STAFF</a>*@


                                        </div>
                                    </li>
                                    <li><a href="@Url.Action("Login","users")" style="font-family:serif;font-size:small;">Catlogue</a></li>
                                    <li class="nav-item dropdown">
                                        <a href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:serif;font-size:small;">
                                            QuickLinks
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                                            <a class="dropdown-item" href="https://opac.app/en/">WEB OPAC APPLICATION</a>
                                            <a class="dropdown-item" href="https://macfast.org/macfast-journal/">JOURNAL OF SCIENCE AND TECHNOLOGY MANAGEMENT</a>

                                            <a class="dropdown-item" href="~/Content/bookpurchasepolicy.pdf">BOOK PURCHASE PROCEDURE</a>



                                        </div>
                                    </li>
                                    @if (Session["ID"] == null)
                                    {
                                        <li><a href="@Url.Action("LogIn", "Users")" style="font-family:serif;font-size:small;">Login</a></li>
                                    }

                                    @if (Session["ID"] != null)
                                    {
                                        <li>
                                            <a href="@Url.Action("Logout", "Users")" style="font-family:serif;font-size:small;">Logout</a>
                                        </li>
                                    }













                                    @*<li><a href="">None </a></li>
            <li><a href="contact.html">Contact us</a></li>*@
                                    <li class="d_none"><a href="@Url.Action("LogIn","Admins")"><i class="fa fa-user" aria-hidden="true"></i></a></li>

                                </ul>

                            <button class="nav-toggler">
                                <span></span>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()

    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3 text_align_left">
                                    <h3 style="font-family:serif;">About MLIC</h3>
                                    <p style="text-align:justify; font-family:serif;">
                                        MACFAST Library and Information Centre 
                                        is the treasure house of knowledge and 
                                        information that support the academic 
                                        pursuit of students and faculty members 
                                        through timely acquisition of resources.
                                        The library provides services to meet the
                                        requirements of post graduate students, 
                                        research students and faculty members.
                                        Library Timing: 6:00 AM to 10:00 PM
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3 text_align_left">
                                    <h3>Blog</h3>
                                    <p>Which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anythin</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3 text_align_left">
                                    <h3 style="font-family:serif;">Useful Links</h3>
                                    <ul class="menu_footer">
                                        <li><a href="@Url.Action("Index","Home")" style="font-family:serif;">Home</a></li>

                                        <li><a href="https://macfast.org/" style="font-family:serif; color:white;">Macfast College</a></li>
                                        <li><a href="https://www.mgu.ac.in/" style="font-family: serif; color: white;">MG University</a></li>
                                        <li><a href="https://www.aicte-india.org/" style="font-family: serif; color: white;">AICTE</a></li>
                                    
                                        @*<li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact us</a></li>*@
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3  text_align_left">
                                    <h3 style="font-family:serif;">MENU</h3>
                                    <ul class="menu_footer">
                                        <li><a href="@Url.Action("About","Home")" style="font-family: serif; color: white;">About</a></li>
                                        <li><a href="@Url.Action("Index","carrers")" style="font-family: serif; color: white;">Careers</a></li>


                                        <li><a href="@Url.Action("Login","Users")" style="font-family: serif; color: white;">Catalogue</a></li>
                                        <li><a href="@Url.Action("Create","contacts")" style="font-family: serif; color: white;">Contact</a></li>

                                        @*<li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact us</a></li>*@
                                    </ul>
                                </div>
                            </div>

                            @*<form id="colof" class="form_subscri">*@
                            @*<input class="newsl" placeholder="Email" type="text" name="Email">*@
                            @*<button class="subsci_btn">Subscribe</button>*@
                            @*</form>
        <ul class="top_infomation">
            <li>
                <i class="fa fa-phone" aria-hidden="true"></i>
                +01 1234567890*@
                            @*</li>
            <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="Javascript:void(0)">demo@gmail.com</a>
            </li>
        </ul>*@
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="follow text_align_center">
                                <h3>Follow Us</h3>
                                <ul class="social_icon ">
                                    <li><a href="https://www.facebook.com/macfastofficial/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fmacfastofficial"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/macfastofficials/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/macfastofficial/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UC2hK3KCqXunIzjVHI-m5HCA"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p style="font-family:serif;">© Copyright © 2021 MACFAST. All Rights Reserved. Design by <a href="https://www.linkedin.com/in/jerrin-jacob23/" style="color:red; font-family:serif;"></>JERRIN JACOB </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
   
        
    <!-- Javascript files-->
    <script src="~/Content/User/js/jquery.min.js"></script>
    <script src="~/Content/User/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/User/js/jquery-3.0.0.min.js"></script>
    <script src="~/Content/User/js/owl.carousel.min.js"></script>
    <script src="~/Content/User/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/User/js/custom.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
