@model IEnumerable<MacLibraryProject.Models.EbookTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ebook_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ebook_Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ebook_Desctiption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ebook_Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ebook_Publication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ebook_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ebook_Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ebook_Pdf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ebook_Pages)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ebook_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ebook_Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ebook_Desctiption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ebook_Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ebook_Publication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ebook_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ebook_Language)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Ebook_Pdf)*@

            <object data="@Url.Content(item.Ebook_Pdf)" type="application/pdf" width="100%" height="500">
                <p>Your browser does not support PDFs. <a href="@Url.Content(item.Ebook_Pdf)">Download the PDF</a> instead.</p>
            </object>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ebook_Pages)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ebook_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ebook_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ebook_ID })
        </td>
    </tr>
}

</table>
