@model MacLibraryProject.Models.Test

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Test_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test_Dept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test_Dept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test_Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test_Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test_Pic)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Test_Pic)*@
            <img src="@Url.Content(Model.Test_Pic)" alt="Image Description">
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Test_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
