@model MacLibraryProject.Models.Community


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
    <style>
        /*.form-horizontal {*/
            /* Add your styling for the form container here */
            /*margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: black;
        }*/

        .control-label {
            /* Style for labels */
            font-weight: bold;
        }

        .form-group {
            /* Style for each form group */
            margin-bottom: 15px;
        }

        .form-control {
            /* Style for text input fields */
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .text-danger {
            /* Style for validation messages */
            color: red;
        }

        .btn-default {
            /* Style for the submit button */
            background-color: #337ab7;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }

            .btn-default:hover {
                /* Style for button hover state */
                background-color: #286090;
            }
        .center-container {
            /* Center the content horizontally and vertically */
/*            display: flex;
    
*/            justify-content: center;
/**/            align-items: center;
            /*height: 100vh;*/ /* Adjust this if needed */
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 2px;
            display:block;
        }
    </style>
</head>
<body>
    <div class="center-container">
        <div class="form-horizontal">

            @using (Html.BeginForm("Create", "Communities"))
            {
                @Html.AntiForgeryToken()


                <div class="form-horizontal">
                    <h4>Community</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.com_name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.com_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.com_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.com_desc, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.com_desc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.com_desc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.com_author, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.com_author, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.com_author, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.com_price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.com_price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.com_price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <center>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="submit" class="btn btn-default" />
                            </div>
                        </div>
                    </center>
                </div>

            }
            </div>
        </div>

</body>
</html>


    <div>
        @Html.ActionLink("GO BACK", "Home")
    </div>

