@model IEnumerable<MacLibraryProject.Models.Community>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <center> BOOKS COLLECTIONS</center>
</p>

<p>
    <br />
    <br />
    <center>
        @using (Html.BeginForm("Index", "Communities", FormMethod.Get))
        {
            <b>Search By:</b>
            @Html.RadioButton("SearchBy", "com_name", true) <text>Name</text> // Valur checked
            @Html.RadioButton("SearchBy", "com_author", true) <text>Author</text> <br />// Valur checked
            @Html.TextBox("search", "", htmlAttributes: new { @class = "  w-50 form-control" })
            <input type="submit" value="Search" class="btn btn-success" />
        }
    </center>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.com_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.com_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.com_author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.com_price)
        </th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-danger fw-bold"  >No Data Found</td>
        </tr>
    }
    else
    {

        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.com_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.com_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.com_author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.com_price)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.com_id }) |
        @Html.ActionLink("Details", "Details", new { id = item.com_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.com_id })*@
                @*<a href="@Url.Action("Create","Payments")" class="btn btn-outline-success py-3 px-4">Buy Now</a>*@
                @Html.ActionLink("Edit", "Edit", new { id = item.com_id }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.com_id }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.com_id }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
        }
    }

</table>
