@model MacLibraryProject.Models.QModel
@{
    ViewBag.Title = "QB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="~/fonts/fontawesome-webfont.eot" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="~/fonts/fontawesome-webfont.eot" rel="stylesheet">
    @*<link href="~/Content/User/css/audio.css" rel="stylesheet" />*@


    <style>
        .card-container {
            background-image: url('https://images7.alphacoders.com/132/1326369.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding: 50px 0; /* Add padding to adjust spacing */
            /*height: 100vh;*/ /* Cover the entire viewport height */
        }

        .card {
            border-radius: 15px;
            border: 2px solid white;
            background-color: black;
            overflow: hidden;
        }

            .card:hover {
                transform: scale(1.05);
                transition: transform 0.3s ease-in-out;
            }

        .card-body {
            padding: 15px;
        }

        .h5 a {
            color: white;
            text-decoration: none;
        }

            .h5 a:hover {
                text-decoration: underline;
            }

        .mb-0 {
            color: white;
            font-weight: bold;
            font-family: serif;
            margin-bottom: 0;
        }

        audio {
            width: 100%;
        }


        .btn {
            margin: 10px;
            padding: 15px 30px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            background-color: #dc3545; /* Button color */
            color: white;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

            .btn:hover {
                background-color: #c82333; /* Darker color on hover */
                transform: scale(1.05); /* Slight scaling on hover */
            }
    </style>


</head>
<body>
    <!-- inner page section -->
    <!-- end inner page section -->
    <section class="product_section layout_padding">
        <div class="card-container">

            @*<div class="container">
                <div class="heading_container heading_center">
                    <h2>

                        <img src="~/images/6263233.jpg" />
                    </h2>
                </div>*@
            <div class="btn-box">
                <a href="@Url.Action("userd","Home")">
                    Back to Previous
                </a>
            </div>
            @*<div class="container">

                    <a href="@Url.Action("AudioB","Home")" class="btn btn-danger"> AUDIO BOOK </a>
                    <a href="@Url.Action("VideoB","Home")" class="btn btn-danger"> VIDEO BOOK </a>

                    <a href="@Url.Action("DbookB","Home")" class="btn btn-danger"> EBOOK </a>
                    <a href="@Url.Action("DbookB","Home")" class="btn btn-danger"> QUESTION BANK </a>
                    <a href="@Url.Action("DbookB","Home")" class="btn btn-danger"> LECTURES </a>
                    <a href="@Url.Action("DbookB","Home")" class="btn btn-danger"> JOURNALS </a>




                </div>*@
            <div>
                <br />



            </div>

            <div class="row " style="margin-right:20px;">

                <div class="row">
                    @foreach (var o in Model.Qid)
                    {
                        <div class="col-md-3 mb-4">
                            <div class="card text-light bg-dark">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img class="card-img-top" src="https://c1.wallpaperflare.com/preview/993/185/255/headphones-small-book-relax.jpg"
                                         alt="Card image cap">
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="h5 font-weight-bold"><a href="#" target="_blank" style="font-family: serif; font-weight: bold;">@o.title</a></h5>
                                    <p class="mb-0" style="font-family: serif; font-weight: bold; color: white;">@o.Semester</p>

                                    <p class="mb-0" style="font-family: serif; font-weight: bold; color: white;">@o.Subject</p>
                                    <p class="mb-0" style="font-family: serif; font-weight: bold; color: white;">@o.Semester</p>
                                    <p class="mb-0" style="font-family: serif; font-weight: bold; color: white;">@o.year</p>


                                    <!--<audio controls controlsList="nodownload" oncontextmenu="return false;">-->
                                    @*<source src="@Url.Content(o.Audio_File)" type="audio/mp3">*@
                                    <!--Your browser does not support the audio element.-->
                                    @*</audio>*@

                                    <ul>
                                        <li class="tag__item play blue">
                                            <a href="@Url.Content(o.Q_Pdf)" class="btn btn-success"> Read  Book </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>


            </div>
        </div>

        </div>

    </section>
    <div class="btn-box">
        <a href="@Url.Action("userd","Home")">
            Back to Previous
        </a>
    </div>
</body>
</html>



