@model MacLibraryProject.Models.VideoModel
@{
    ViewBag.Title = "VideoB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="~/fonts/fontawesome-webfont.eot" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="~/fonts/fontawesome-webfont.eot" rel="stylesheet">
</head>
<body>

    <!-- inner page section -->
    <!-- end inner page section -->
    <section class="product_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Video <span>Books</span>
                </h2>
            </div>

            <div class="container">

                <a href="@Url.Action("VideoB","Home")" class="btn btn-danger"> VIDEO BOOK </a>
                <a href="@Url.Action("AudioB","Home")" class="btn btn-danger"> AUDIO BOOK </a>
                <a href="@Url.Action("","Home")" class="btn btn-danger"> QUESTION BANK </a>




            </div>
            <div class="row " style="margin-right:20px;">
                @*@foreach (var o in Model.Vid)*@
                @foreach (var o in Model.Vid)
                {



                    <div class="card" style="width: 18rem;">
                        <video class="card-img-top" width="320" height="240" controls>
                            <source src="@Url.Content(o.Video_File)" type="video/mp4">


                        </video>
                        <div class="card-body">
                            <h5 class="card-title">  @o.Video_Name</h5>
                            <p class="card-text">  @o.Video_Description</p>
                            <p class="card-text">  @o.Video_Subject</p>

                        </div>
                    </div>



                    @*<div class="col-sm-6 col-md-4 col-lg-3">
              <div class="box">
              <div class="option_container">
              <div class="options">
              <a href="" class="option1">
                  @o.Video_Name
              </a>

             </div>
            </div>
            <div class="img-box rounded" style="background-color:aliceblue">
            <video width="320" height="240" controls>
              <source src="@Url.Content(o.Video_File)" type="video/mp4">


                    </video>
              </div>
               <div class="detail-box">
                    <h5>
              @o.Video_Description
              </h5>
             <h6>
              @o.Video_Subject
                </h6>
                     </div>
                        </div>
                   </div>*@
                }


            </div>
            <div class="btn-box">
                <a href="@Url.Action("Index","Home")">
                    Back to Home
                </a>
            </div>
        </div>
    </section>
</body>
</html>

