@model MacLibraryProject.Models.VideoModel
@{
    ViewBag.Title = "VideoB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="~/fonts/fontawesome-webfont.eot" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="~/fonts/fontawesome-webfont.eot" rel="stylesheet">


    <style>
        .card {
            width: 18rem;
            border: 1px solid #ccc;
            border-radius: 8px;
            margin: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            font-family: serif;
            background-color: maroon; /* Add this line to set the background color */
        }

        .card-img-top {
            width: 100%;
            height: auto;
        }

        .card-body {
            padding: 1rem;
        }

        .card-title {
            font-weight: bold;
            font-size: 1.2rem;
            color: red;
            text-align: center;
        }

        .card-text {
            color: red;
            text-align: justify;
        }
    </style>

</head>
<body>

    <!-- inner page section -->
    <!-- end inner page section -->
    <section class="product_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Video <span>Books</span>
                </h2>
            </div>

            <div class="container">

                <a href="@Url.Action("VideoB","Home")" class="btn btn-danger"> VIDEO BOOK </a>
                <a href="@Url.Action("AudioB","Home")" class="btn btn-danger"> AUDIO BOOK </a>
                <a href="@Url.Action("","Home")" class="btn btn-danger"> QUESTION BANK </a>




            </div>
            <div class="row " style="margin-right:20px;">
                @*@foreach (var o in Model.Vid)*@
                @foreach (var o in Model.Vid)
                {


                   
                    <div class="card" style="width: 18rem;">
                    <video class="card-img-top" width="320" height="320" controls  controlsList="nodownload">
                        <source src="@Url.Content(o.Video_File)" type="video/mp4">


                    </video>
                    <div class="card-body">
                        <h4 class="card-title" style="font-family:serif; color: white; font-weight:bold; text-align:justify;">  @o.Video_Name</h4>
                        <p class="card-text"  style="font-family: serif; color: white; text-align: justify;">  @o.Video_Description</p>
                        <p class="card-text"  style="font-family: serif; color: white; text-align: justify;">  @o.Video_Subject</p>

                    </div>
                </div>




            }


                
                
            <div class="btn-box">
                <a href="@Url.Action("Index","Home")">
                    Back to Home
                </a>
            </div>
        </div>
    </section>
</body>
</html>

