@using MacLibraryProject.Models
@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int row = 0; int totalQuantity = 0; double totalAmount = 0;
}

<head>
    <style>
        /* Add some basic styles to the table */
        .table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        /* Style the table header */
        .thead-primary {
            background-color: #3498db;
            color: #ffffff;
        }

            /* Style the header cells */
            .thead-primary th {
                padding: 10px;
                text-align: center;
            }

        /* Style the table rows */
        .table tr {
            border-bottom: 1px solid #dddddd;
        }

        /* Style the image cell */
        .image-prod img {
            max-width: 80px;
            height: auto;
        }

        /* Style the product name and author cells */
        .product-name h3 {
            margin: 5px 0;
            font-size: 1.2em;
        }

        .product-name p {
            margin: 5px 0;
        }

        /* Style the price cell */
        .price {
            font-weight: bold;
        }

        /* Style the product-remove cell */
        .product-remove span {
            color: red;
            font-size: 1.2em;
            cursor: pointer;
        }

        /* Add some spacing to the cells */
        .table td {
            padding: 10px;
        }

        /* Add a background color to even rows for better readability */
        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <table class="table">
        <thead class="thead-primary">
            <tr class="text-center">
                <th>image &nbsp;</th>
                <th>Book</th>
                <th>Author</th>
                @*<th>Add</th>*@
                <th>Delete </th>
            </tr>
        </thead>
        @if (Session["myWish"] != null)
        {
            <tbody>
                @foreach (var item in (List<Item>)Session["myWish"])
                {
                    <tr class="text-center">
                        <td class="image-prod">
                            <img src="@Url.Content(@item.item_pic)" width="80px" />
                        </td>

                        <td class="product-name">
                            <h3>@item.item_name</h3>
                            <p>@item.item_disc</p>
                        </td>
                        <td class="price">@item.item_author</td>


                        <td class="product-remove">
                            <a type="button" class="close text-center" href="@Url.Action("RemoveFromWish","Home", new {RowNo=row})">
                                <span>&times;</span>
                            </a>
                        </td>
                    </tr>
                    row++;
                    //totalQuantity += item.PRO_QUANTITY;
                    //totalAmount += double.Parse(item.Sale_Price.ToString()) * int.Parse(item.PRO_QUANTITY.ToString());
                }


                <tr class="text-center">
                    <th></th>
                    <th></th>
                    <th></th>
                    @*<th></th>*@
                    <th></th>
                </tr>



            </tbody>


        }
    </table>

</body>
<center>
    <h5 style="color:dimgrey">ADD MORE</h5>
    <a href="@Url.Action("Items","Home")"><span class="btn btn-primary">Add Now</span></a>
</center>

@if (Session["myWish"] == null || row == 0)
{
    <div class="text-center">
        <div class="row">
            <div class="col-sm-4">
                <div class="col-sm-4 ">
                    <h5 style="color:dimgrey">your  wishlist is empty</h5>
                    <a href="@Url.Action("Items","Home")"><span class="btn btn-outline-danger">Add Now</span></a>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>

}

