@model IEnumerable<MacLibraryProject.Models.Videobook>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Video_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video_File)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video_Subject)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Video_Name)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Video_File)*@
            @*<img src="@Url.Content(item.Video_File)" width="50px" />*@
            <video width="320" height="240" controls>
                <source src="@Url.Content(item.Video_File)" type="video/mp4">


            </video>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Video_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Video_Subject)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Video_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Video_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Video_ID })
        </td>
    </tr>
}

</table>
