@model MacLibraryProject.Models.Admin

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <style>
        /* Styling for the form container */
        
        .form-horizontal {
            max-width: 300px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f7f7f7;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

            /* Styling for form headers */
            .form-horizontal h4 {
                margin: 0 0 20px;
                font-size: 24px;
                color: #333;
            }

        /* Styling for form fields and labels */
        .form-group {
            margin-bottom: 20px;
        }

        .control-label {
            font-weight: bold;
            font-size: 16px;
        }

        /* Styling for text input fields */
        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* Styling for error messages */
        .text-danger {
            color: #d9534f;
            font-size: 14px;
            margin-top: 5px;
        }

        /* Styling for the submit button */
        .btn-default {
            background-color: #337ab7;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }

            /* Styling for submit button on hover */
            .btn-default:hover {
                background-color: #286090;
            }
    </style>
</head>
<body>
<center>
    <div class="form-container">
        <h2>LogIn</h2>
        

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Admin</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Admin_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Admin_Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Admin_Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Admin_Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Admin_Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Admin_Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>

</center>
</body>