@model MacLibraryProject.Models.staff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staff_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.staff_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
